name: Deploy PreFab Docs
on:
  push:
    branches:
      - master
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Set up Python
        run: uv python install
      - id: get_cache_id
        run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_OUTPUT
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ steps.get_cache_id.outputs.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - name: Install documentation dependencies
        run: uv sync --extra docs
      - name: Create CNAME file
        run: echo "docs.prefabphotonics.com" > docs/CNAME
      - name: Deploy documentation
        run: uv run mkdocs gh-deploy --force
